.archive-list {
    a {
        color: #0085a1;
        word-break: break-all;
        text-decoration: none;
    }
    .date {
        color: #7f8c8d;
        min-width: 5rem;
        margin-right: 1rem;
    }
    li:not(.title) {
        padding-left: 3rem;
    }
    li {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}