@import "theme.scss";
@import "intro-header.scss";
@import "post-list.scss";
@import "post-container.scss";
@import "highlight.scss";
//@import "pager.scss";
@import "pagination.scss";
//@import "flex-layout.scss";
@import "page-fullscreen.scss";
@import "widget.css";
@import "iconfont.scss";
@import "footer.scss";

.subheading {
  min-height : 20px;
}

.flex-row {
  display : flex;
}

.flex-center {
  align-items : center;
}

.flex-ju-center {
  justify-content : center;
}