.flex-clearfix {
  &:before,
  &:after {
    content    : " ";
    display    : flex;
    box-sizing : border-box;
    width      : 0;
    height     : 0;
    font-size  : 0;
  }
  &:after {
    clear : both;
  }
}

.flex-column,
.flex-row {
  display   : flex;
  flex-wrap : wrap;
  @extend .flex-clearfix;
}

.flex-row {
  flex-direction : row;
}