@import "var.styl";

footer {
  font-size        : 20px;
  padding          : 20px;
  background-color : #303233;
  margin-top       : 2rem;
  .icon-link {
    text-align : center;
  }
  a {
    color           : inherit;
    text-decoration : underline;
  }
}

footer .list-inline {
  margin  : 0;
  padding : 0;
}

footer .copyright {
  font-size : 14px;
  line-height: 30px;
  @media (max-width : $tablet-xs) {
    text-align : center;
  }
  small{
    display: inline-block;
  }
}