footer {
  font-size : 20px;
  padding   : 40px 0 40px;
/*  background-color: #999;
  margin-top: 2rem;*/
  .icon-link {
    text-align : center;
  }
  a{
    color: inherit;
    text-decoration: underline;
  }
}

footer .list-inline {
  margin  : 0;
  padding : 0;
}

footer .copyright {
  font-size  : 14px;
  text-align : center;
  margin     : 1rem;
}