.category-list,
.tag-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    > li {
        display: inline-block;
        padding: 0 .2rem;
        & + li {
            margin-left: 1rem;
        }
    }
}

.tag-list-count,
.category-list-count {
    font-size: .7em;
    margin: 0 1px;
}

.tag-list-item.active,
.category-list-item.active {
    /*background: #E7ECF0;*/
    color: #1C4059;
    font-weight: 800;
    a {
        color: inherit;
        text-decoration: none;
    }
}

.category-list-count:before,
.tag-list-count:before {
    content: " (";
}

.category-list-count:after,
.tag-list-count:after {
    content: ") ";
}
