.pager {
    /*margin: 20px 0 20px !important;*/
    /*padding: 0px !important;*/
}

.pager li > a,
.pager li > span {
    line-height: 1.7;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: inherit;
}

.pager li {
    > a:hover,
    > a:focus {
        text-decoration: none;
        background-color: transparent;
        color: #337ab7;
    }
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #808080;
    background-color: #404040;
    cursor: not-allowed;
}
