.post-container a {
    color: #337ab7;
    &:hover,
    &:focus {
        color: #0085a1;
    }
}

.post-container h1,
.post-container h2,
.post-container h3,
.post-container h4,
.post-container h5,
.post-container h6 {
    margin: 30px 0 10px;
}

.post-container h5 {
    font-size: 19px;
    font-weight: 600;
    color: gray;
}

.post-container h5 + p {
    margin-top: 5px;
}

.post-container h6 {
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

.post-container h6 + p {
    margin-top: 5px;
}

.post-container ul,
.post-container ol {
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .post-container ul,
    .post-container ol {
        padding-left: 30px;
    }
}

@media screen and (max-width: 500px) {
    .post-container ul,
    .post-container ol {
        padding-left: 20px;
    }
}

.post-container ol ol,
.post-container ol ul,
.post-container ul ol,
.post-container ul ul {
    margin-bottom: 5px;
}

.post-container li p {
    margin: 0;
    margin-bottom: 5px;
}

.post-container li h1,
.post-container li h2,
.post-container li h3,
.post-container li h4,
.post-container li h5,
.post-container li h6 {
    line-height: 2;
    margin-top: 20px;
}

.post-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.post-container .tags a {
    color: gray;
    border-color: gray;
}

.post-container .tags a:hover,
.post-container .tags a:active {
    color: #0085a1;
    border-color: #0085a1;
}

.post-container pre,
.post-container .highlight {
    overflow: auto;
    margin: 20px 0;
    padding: 15px;
    font-size: 13px;
    color: #c5c8c6;
    background: #1d1f21;
}

.post-container code {
    background: none;
}

.post-container pre code {
    padding: 0;
    color: #c5c8c6;
}
