.post-list {
  margin-top : 3rem;
  a:hover,
  a:focus {
    text-decoration : none;
  }
  @media (min-width : 1200px) {
    max-width    : 1000px;
    width        : 1000px;
    margin-right : auto;
    margin-left  : auto;
  }
}

.post-preview {
  margin-bottom : 5rem;
  @media (max-width : 767px) {
    margin-bottom : 2.5rem;
  }
}

.post-title {
  font-size     : 1.6rem;
  margin-top    : 1.8rem;
  margin-bottom : 1rem;
}

.post-meta {
  font-family  : 'Lora', 'Times New Roman', serif;
  list-style   : none;
  margin       : 20px 0;
  border       : 1px solid #ecf0f1;
  border-width : 1px 0 1px 0;
  padding      : 20px 0;
  font-size    : 1rem;
  color        : #7f8c8d;
  > li {
    display      : inline-block;
    margin-right : .8rem;
  }
  .iconfont {
    font-size    : .8rem;
    margin-right : 3px;
  }
  .category, .tag {
    color : inherit;
  }
  .tag + .tag {
    margin-left : 2px;
  }
}

.post-content-preview {
  color : #8f8f8f;
  font-size: .9rem;
}