@import "var";

html, body {
  font-size   : 16px;
  line-height : 1.5;
  height      : 100%;
}

body {
  display        : flex;
  flex-direction : column;
  > .container {
    flex : 1 0 auto;
  }
}

h1, h2, h3, h4, h5 {
  font-weight : bold;
}

a {
  color      : $a-color;
  transition : color .2s;
  &:hover, &:focus {
    color : $a-color-hover;
  }
}

blockquote {
  color      : #808080;
  font-style : italic;
  font-size  : 0.95em;
  margin     : 20px 0 20px;
}

blockquote p {
  margin : 0;
}

article {
  position : relative;
}

@media screen and (max-width : 768px) {
  select {
    -webkit-appearance : none;
    margin-top         : 15px;
    color              : #337ab7;
    border-color       : #337ab7;
    padding            : 0em 0.4em;
    background         : white;
  }
}

select {
  -webkit-appearance : none;
  margin-top         : 15px;
  color              : #337ab7;
  border-color       : #337ab7;
  padding            : 0 .4em;
  background         : #fff;
}

pre,
.table-responsive {
  -webkit-overflow-scrolling : touch;
}

pre code {
  display     : block;
  width       : auto;
  white-space : pre;
  word-wrap   : normal;
}

/* archive */

.listing-seperator {
  font-size   : 1.5em;
  margin      : 0;
  line-height : 1.7;
}

.archive-list {
  margin : 10px 0;
  .date {
    margin-right : 1rem;
  }
  a {
    text-decoration : none;
  }
}



