@import "var";
html,
body {
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    > .container {
        flex: 1 0 auto;
    }
}

.container-theme {
    @media (min-width: 1200px) {
        max-width: 1000px;
        width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}

a {
    color: $a-color;
    transition: color .2s;
    &:hover,
    &:focus {
        color: $a-color-hover;
    }
}

blockquote {
    color: #808080;
    font-style: italic;
    font-size: 0.95em;
    margin: 20px 0 20px;
}

blockquote p {
    margin: 0;
}

article {
    position: relative;
}

@media screen and (max-width: 768px) {
    select {
        -webkit-appearance: none;
        margin-top: 15px;
        color: #337ab7;
        border-color: #337ab7;
        padding: 0em 0.4em;
        background: white;
    }
}

select {
    -webkit-appearance: none;
    margin-top: 15px;
    color: #337ab7;
    border-color: #337ab7;
    padding: 0 .4em;
    background: #fff;
}


code {
    background: #f8f8f8;
    color: #e96900;
    margin: 0 2px;
    font-size: 0.8em;
    padding: 2px 3px;
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    border-radius: 2px;
    white-space: inherit;
}

pre,
.table-responsive {
    -webkit-overflow-scrolling: touch;
}

pre code {
    display: block;
    width: auto;
    white-space: pre;
    word-wrap: normal;
}