// tablet 以下
$tablet-xs: 767px;
// tablet 以上（含tablet）
$contain-tablet: ($tablet-xs + 1);

// laptop
$laptop-sm: 991px;
$contain-laptop: ($laptop-sm + 1);

// desktop
$desktop-md: 1199px;
$contain-desktop: ($desktop-md + 1);

$a-color:#2c3e50;
$a-color-hover: #2980b9;
