@import "../css/var.scss";

.post-article {
  position    : absolute;
  border-left : rgba(88, 88, 88, 0.1) 1px solid;
  padding     : 1rem 1rem 0 1rem;
  margin-left : 1rem;
}

.connent-title {
  font-size : 120%;
}

.connent-title .iconfont {
  margin-right : 0.5rem;
  font-size    : 1.2em;
}


#post-content {
  line-height : 1.2rem;
              //font-size: 1.2rem;
  overflow    : hidden;
  &.post-content-fixed {
    overflow-x : hidden;
    overflow-y : auto;
  }
}

.post-content-fixed {
  position   : fixed;
  top        : 10%;
  margin-top : 0;
  max-height : 80%;
  z-index    : 1;
}

.connent-nav {
  padding : 0;
  margin  : 1rem;
}

.connent-nav li {
  list-style-type : none;
}

.connent-nav li a:hover {
  background-color : transparent !important;
}

.connent-nav .active > a {
}

.connent-nav-link {
  padding : 1px !important;
  > span {
    pointer-events : none;
  }
}

.connent-nav-child {
  padding-left : 1.2rem;
}
