#scroll-to-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: block;
    visibility: hidden;
    width: 42px;
    height: 43px;
    border: 1px solid #EEE;
    background-image: url("../img/up.svg");
    background-color: rgba(255, 255, 255, .2);
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center center;
    opacity: 0;
    transition: visibility 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    @media (max-width: 767px) {
        right: 12px;
        bottom: 20px;
    }
    &.show {
        visibility: visible;
        opacity: 1;
    }
    &:hover {
        background-color: rgba(255, 255, 255, .7);
    }
}
