---
layout: page
---

<div class="container-theme">
    <div class="iconfont icon-folder">
        <%- list_categories({}) %>
    </div>
    <div class="iconfont icon-tag1">
        <%- list_tags({}) %>
    </div>
    <%- partial('_partial/archive') %>
</div>