---
layout: page
---

<!-- tag -->
<section>
	<h1>Tag: <%= page.tag %></h1>
	<section>
	    <div class="tags">
	        <% site.tags.map(function(tag){  %>
	            <% if(tag.length > config['tag-condition-size']) { %>
	                <%- partial('_partial/tag',{tag:tag}) %>
	            <% } %>
	        <% }) %>
	    </div>
	</section>
	<%- partial('_partial/archive', { type: 'tag' }) %>
</section>
