<!-- Recent Posts -->
<% if (site.posts.length){ %>
<section>
    <h5><a><%= __('Recent Posts') %></a></h5>
    <div class="widget">
      <ul class="list-unstyled">
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li>
            <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
</section>
<% } %>