<!-- Short About -->
<section class="visible-md visible-lg">
    <div class="short-about">

        <% if(config['sidebar-avatar']) { %>
            <a href="<%= config.root %>about/">
            	<img id = "avatar_pic" src="<%= config['root'] %><%= config['sidebar-avatar'] %>" />
            </a>
        <% } %>

        <% if(config['sidebar-about-description']) { %>
            <p><%= config['sidebar-about-description'] %></p>
        <% }%>

    </div>
</section>