<!-- Tags -->
<% if(config['tags']) { %>
<section>
    <h5><a>Tags</a></h5>
    <div class="tags">
        <% site.tags.map(function(tag){  %>
            <% if(tag.length > config['tag-condition-size']) { %>
                <%- partial('_partial/tag',{tag:tag}) %>
            <% } %>
        <% }) %>
    </div>
</section>
<% }%>