<!-- Archive -->
<div class="archive-list">
    <ul class="list-unstyled">
        <%  var years_month; (page.posts || site.posts).sort('date').reverse().map(function(post){ %>
            <%  post.years_month = post.date.format('YYYY-MM') %>
            <%  if(years_month !=post.years_month){ %>
                <%  years_month = post.years_month %>
                    <li class="title"><h3><%- years_month %></h3></li>
            <% } %>
            <li>
                <span class="date"><%= post.date.format('MM-DD') %></span>
                <a href="<%- url_for(post.path) %>">
                    <span>
                        <%- post.title || "Untitled" %>
                    </span>
                </a>
            </li>
        <% }) %>
    </ul>
</div>