<div class="post-list container-theme">
    <% page.posts.each(function(post){ %>
    <div class="post-preview">
        <div class="post-header">
            <h3 class="post-title">
                <a href="<%- url_for(post.path) %>">
                    <%- post.title || "Untitled" %>
                </a>
            </h3>
        </div>
        <div class="post-content-preview">
            <%- post.excerpt || truncate_markdown(post.content) %>
        </div>
        <%- partial('_partial/post-meta', {post: post}) %>
    </div>
    <% }); %>
</div>