<!-- post-content -->
<% if (page.catalog && is_post()) { %>
<aside id="post-content-wrap" class="col-sm-3 col-sm-offset-0 hidden-xs ">
    <div id="post-content" class="post-article">
        <strong class="connent-title"><span class="icon-content iconfont"></span><%= __('Contents') %></strong>
        <%- toc(page.content, {"class": "connent-nav"}) %>
    </div>
</aside>
<% } %>